.client-card {
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--cor-branco);
  padding: 20px 5px;
  border-radius: 40px;
  gap: 5px;
  width: 100%;
  height: 100%;
  box-shadow: 0 5px 0 0 var(--cor-preto);
}

.profile-img-row {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.profile-img {
  z-index: 3;
  height: 120px;
  width: 120px;
  border-radius: 50%;
  box-shadow: 0 4px 5px 0 var(--cor-cinza-transparente-bem-claro);
  object-fit: cover;
  background-color: var(--cor-branco);
}

.edit-img-button {
  opacity: 0;
  cursor: pointer;
  z-index: 10;
  background-color: var(--cor-cinza-transparente);
  border: none;
  position: absolute;
  right: 5px;
  height: 120px;
  width: 120px;
  border-radius: 50%;
  transition: all .3s;
}

.edit-img-button:hover {
  opacity: 1;
  transition: all .15s;
}

.vertical-buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.small-button {
  cursor: pointer;
  z-index: 2;
  position: absolute;
  background-color: var(--cor-cinza-bem-escuro);
  border: none;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  padding: 5px 8px 5px 20px;
  transition: all .15s;
}

.small-button.top {
  top: 28px;
}

.small-button.bottom {
  bottom: 28px;
}

.small-button:hover {
  padding: 5px 8px 5px 30px;
  background-color: var(--cor-vermelho);
}

.small-button:active {
  background-color: var(--cor-vermelho-transparente);
}

.client-name-age {
  text-align: center;
  text-wrap: balance;
  text-transform: uppercase;
  color: var(--cor-cinza-bem-escuro);
  font-size: .8rem;
  padding: 0 5px;
}

.client-email {
  text-align: center;
  text-wrap: nowrap;
  text-transform: lowercase;
  color: var(--cor-cinza-claro);
  font-size: .7rem;
}

.debt-sum-client {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  cursor: pointer;
  background-color: var(--cor-vermelho);
  color: var(--cor-branco);
  border: none;
  border-radius: 40px;
  padding: 4px 40px;
  font-size: 1.2rem;
  overflow: hidden;
  transition: all .3s;
}

.debt-sum-client:hover {
  transform: scale(1.05);
  box-shadow: 0 5px 15px var(--cor-cinza-transparente);
}

.debt-sum-client:active {
  transform: scale(1);
}

a,
Link {
  appearance: none;
  text-decoration: none;
}