.debt-table-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--cor-cinza-claro);
  width: 100%;
  padding: 15px 5%;
}

.debt-table-header {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: var(--cor-branco);
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  padding: 10px 30px;
}

.back-clients-link,
.back-clients-link path {
  transition: all .3s;
}

.back-clients-link:hover {
  transform: scale(1.25);
  transition: all .15s;
}

.back-clients-link:hover path {
  transition: all .15s;
  fill: var(--cor-vermelho);
}

.profile-img.debt-table-img {
  width: 50px;
  height: 50px;
}

.debt-name-age {
  color: var(--cor-cinza-bem-escuro);
  text-transform: uppercase;
}

.debt-cpf-email {
  color: var(--cor-cinza-escuro);
  text-transform: lowercase;
  font-size: .85rem;
}

.small-button.debt {
  position: inherit;
  padding: 5px 8px;
  border-radius: 20px;
}

table {
  min-width: 100%;
  border-collapse: separate;
  background-color: var(--cor-cinza-escuro);
  padding: 10px;
  margin: 0;
  transition: all 0.3s;
  cursor: default;
}

th {
  font-size: .85rem;
  text-wrap: nowrap;
  background-color: var(--cor-cinza-escuro);
  color: var(--cor-branco);
  text-align: left;
  padding: 8px;
  border: solid 2px var(--cor-cinza-transparente);
  border-radius: 5px;
}

tbody tr {
  font-size: .8rem;
  background-color: var(--cor-cinza-claro);
  transition: all 0.3s;
  border-bottom: solid 1px var(--cor-cinza-transparente);
  border-radius: 5px;
}

tbody tr:hover,
tbody td:hover,
th:hover {
  background-color: var(--cor-cinza-transparente);
  transition: all 0.15s;
}

tbody td:hover svg path {
  fill: var(--cor-branco);
}

td,
th {
  text-align: center;
  min-width: 130px;
  max-width: 130px;
  border-radius: 5px;
  padding: 4px 8px;
}

.ti-text {
  text-align: start;
  width: 100%;
}

.clickable-column {
  min-width: 40px;
  max-width: 40px;
}

.clickable {
  cursor: pointer;
  background-color: var(--cor-branco);
  text-align: center;
  transition: all .3s;
  font-size: 1.2rem;
}

.debt-paid {
  opacity: .1;
  cursor: default;
}

.debt-paid svg path {
  fill: var(--cor-cinza-claro);
}

.debt-resumo {
  font-size: .8rem;
  background: #d63a3a;
  background: -webkit-linear-gradient(to right, #d63a3a, #e11d1d, #bf1a1a, #d63a3a);
  background: linear-gradient(to right, #d63a3a, #bf1a1a, #e11d1d, #d63a3a);
  animation: gradientAnimation 2.5s linear infinite;
  background-size: 200%;
  color: var(--cor-cinza-medio);
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
  margin: 0 0 20px 0;
  padding: 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  width: 100%;
}

.debt-resumo span {
  color: var(--cor-cinza-medio);
  background-color: var(--cor-branco);
  border-radius: 30px;
  padding: 8px 12px;
  text-wrap: nowrap;
}

.no-clients-container.no-debts-container {
  background: none;
  background-color: var(--cor-branco);
  color: var(--cor-cinza-medio);
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  margin: 0 0 15px 0;
}