form {
  background-color: var(--cor-branco);
  padding: 40px;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

form h2 {
  color: var(--cor-cinza-bem-escuro);
}

form .delete-nome-cliente {
  color: var(--cor-branco);
  background-color: var(--cor-vermelho);
  border-radius: 30px;
  padding: 8px 12px;
}

label,
.api-error-message,
.info-text {
  color: var(--cor-cinza-claro);
  font-size: .8rem;
}

label.form-label {
  padding: 0 0 0 12px;
}

form button[type="reset"],
form button[type="submit"] {
  cursor: pointer;
  padding: 8px 12px;
  border: none;
  border-radius: 30px;
  width: 100%;
  transition: all 0.3s;
}

form button[type="reset"]:hover,
form button[type="submit"]:hover {
  transform: translateY(-3px);
  color: var(--cor-branco);
  background-color: var(--cor-vermelho);
  box-shadow: 0 1px 0 0 var(--cor-preto);
  transition: all 0.15s;
}

form button[type="reset"]:hover {
  background-color: var(--cor-cinza-bem-escuro);
  box-shadow: 0 1px 0 0 var(--cor-cinza-bem-claro);
}

form button[type="reset"]:active,
form button[type="submit"]:active {
  transform: scale(0.95);
  transition: all 0.15s;
}

.edicao-cliente-form {
  width: 450px;
  padding: 30px;
}

.label-input-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: start;
}

.label-input-container.large {
  width: 100%;
}

.label-input-container.small {
  width: 50%;
}

input[type="text"],
input[type="date"],
input[type="email"],
input[type="file"] {
  width: 100%;
  padding: 8px 12px;
  border-radius: 30px;
  border: none;
  background-color: var(--cor-cinza-claro);
  color: var(--cor-branco);
}

input[type="date"]::placeholder {
  color: var(--cor-cinza-placeholder2)
}

input[type="file"]::-webkit-file-upload-button {
  font-family: "Space Mono", monospace;
  font-weight: 900;
  padding: 8px 12px;
  background-color: var(--cor-cinza-medio);
  color: var(--cor-cinza-placeholder2);
  border: none;
  border-radius: 30px;
  cursor: pointer;
  transition: all .3s;
}

input[type="file"]::-webkit-file-upload-button:hover {
  transform: scale(1.05);
  transition: all .15s;
}

input[type="file"]::-webkit-file-upload-button:active {
  transform: scale(.95);
  transition: all .15s;
}

input[type="text"]::placeholder,
input[type="date"]::placeholder,
input[type="email"]::placeholder,
input[type="file"]::placeholder {
  color: var(--cor-cinza-placeholder2);
}

.flex-row.form-cliente {
  margin: 8px 0 0 0;
}