:root {
  font-family: "Space Mono", monospace;
  line-height: 1.5;
  font-weight: 400;

  color: var(--cor-branco);
  background-color: var(--cor-cinza-bem-escuro);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  font-family: "Space Mono", monospace;
  line-height: 1.5;
  font-weight: 400;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}