h1 {
  min-width: fit-content;
  max-width: 100%;
  color: var(--cor-preto);
  background-color: var(--cor-branco);
  text-align: center;
  border-radius: 30px;
  padding: 0 50px;
  font-size: 1.5rem;
}