.base-icon {
  vertical-align: -webkit-baseline-middle;
  vertical-align: middle;
  fill: var(--cor-branco);
  height: 14px;
  width: 14px;
}

h1 .base-icon {
  margin: 0 0 5px 10px;
  height: 30px;
  width: 30px;
}

.insert-button .base-icon {
  width: 16px;
  height: 16px;
  margin: 0 0 0 8px;
  padding: 0 0 2px 0;
}

input[type="search"] .base-icon,
.edit-img-button .base-icon {
  width: 24px;
  height: 24px;
}

button.debt-sum-client .base-icon {
  margin: 0 0 5px 10px;
  height: 20px;
  width: 20px;
}

button.credits-button .base-icon {
  margin: 0 5px 3px 0;
}

.black {
  fill: var(--cor-preto);
}

.green {
  fill: var(--cor-verde);
}

.red {
  fill: var(--cor-vermelho);
}

.large-icon {
  width: 35px;
  height: 35px;
}