/Vendinha-Samu.Backend/Vendinha_Samu.Api/bin
/Vendinha-Samu.Backend/Vendinha_Samu.Api/bin/
/Vendinha-Samu.Backend/Vendinha_Samu.Api/obj
/Vendinha-Samu.Backend/Vendinha_Samu.Api/obj/

/Vendinha-Samu.Backend/Vendinha_Samu.Console/obj/
/Vendinha-Samu.Backend/Vendinha_Samu.Console/bin/
/Vendinha-Samu.Backend/Vendinha_Samu.Console/obj
/Vendinha-Samu.Backend/Vendinha_Samu.Console/bin

/Vendinha-Samu.Backend/.vs/
