Vendinha-Samu.Backend/Vendinha-Samu.Api/obj/
Vendinha-Samu.Backend/Vendinha-Samu.Api/bin/
Vendinha-Samu.Backend/Vendinha-Samu.Api/obj
Vendinha-Samu.Backend/Vendinha-Samu.Api/bin

Vendinha-Samu.Backend/Vendinha-Samu.Console/obj/
Vendinha-Samu.Backend/Vendinha-Samu.Console/bin/
Vendinha-Samu.Backend/Vendinha-Samu.Console/obj
Vendinha-Samu.Backend/Vendinha-Samu.Console/bin

Vendinha-Samu.Backend/.vs/